{# app/Resources/FOSUserBundle/views/Registration/confirmed.html.twig #}
{% extends 'base.html.twig' %}

{% block session %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
	<div id="confirmeduser" style="margin-top:20px" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			     <div class="alert alert-dismissible alert-success">
		             <button type="button" class="close" data-dismiss="alert">&times;</button>
		             	<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
			    {% if targetUrl %}
			    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
			    {% endif %}
				</div>
	</div>
</div>
{% endblock %}
