{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-container">
        {% for action in actions %}
            <p>Action Id: {{ action.id }}</p>
            <br/>
        {% endfor %}
    </div>
{% endblock %}