{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-container">
        {% for cardType in cardTypes %}
            <p>Card Type Id: {{ cardType.id }}</p>
            <br/>
        {% endfor %}
    </div>
{% endblock %}