{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-container">
        {% for sequenceType in sequencesType %}
            <p>Sequence Type Id: {{ sequenceType.id }}</p>
            <br/>
        {% endfor %}
    </div>
{% endblock %}