{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-container">
        {% for type in types %}
            <p>Type Id: {{ type.id }}</p>
            <br/>
        {% endfor %}
    </div>
{% endblock %}