{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h3 align="center">Titolo</h3>
    </div>
    <div id="cardCol" class="col-sm-4">
      <h3 align="center">Carte</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="container-fluid">
        <div class="material-switch">

          <div class="material-switch">
            <input id="mode" name="mode" type="checkbox"/>
            <label for="mode" class="label-primary"></label>
            <script>
            $(document).ready(function(){
              $('#classicDiv').hide();
              $('#mode').change(function(){
                $('#classicDiv').hide();
                if(this.checked){
                  $('#detailDiv').fadeOut();
                  $('#cardDiv').fadeOut();
                  $('#cardCol').fadeOut();
                  $('#classicDiv').fadeIn(2050);
                }
                else{
                  $('#detailDiv').fadeIn(2050);
                  $('#cardDiv').fadeIn(2050);
                  $('#cardCol').fadeIn(2050);
                  $('#classiDiv').fadeOut();
                }

      });
  });
</script>
          </div>

        </div>
        <h3>Dettagli</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Autore: Abdul</p>
            <p>Likes: 55</p>
            <p>Data Creazione: 15/02/2018</p>
            <p>Punteggio: 548</p>
          </div>
        </div>
      </div>
    </div>

    {# fasi fiabe #}
    <div id="detailDiv" class="col-sm-4 col-sm-offset-1">
      <div class="verticaltext">sequenza 1</div>
      <div class="container-fluid">
        <div class="jumbotron">
          inizio aallalalalal sdhjdj kdjsidjasi
        </div>
      </div>

      <div class="verticaltext">sequenza 2</div>
      <div class="container-fluid">
        <div class="jumbotron">
          inizio aallalalalal sdhjdj kdjsidjasi
        </div>
      </div>

      <div class="verticaltext">sequenza 3</div>
      <div class="container-fluid">
        <div class="jumbotron">
          inizio aallalalalal sdhjdj kdjsidjasi
        </div>
      </div>
    </div>

    <div id="classicDiv" class="col-sm-6 col-sm-offset-1">
      <div class="jumbotron">
        <p>sssss</p>
      </div>
    </div>

    {#slide show carte #}
    <div class="col-sm-4">
      <div id="cardDiv" class="slideshow">
        <div id="Carousel" class="carousel slide">

          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner">

            <div class="item active">
              <div class="row">
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
              </div><!--.row-->
            </div><!--.item-->

            <div class="item">
              <div class="row">
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
              </div><!--.row-->
            </div><!--.item-->

            <div class="item">
              <div class="row">
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-sm-3"><a href="#" class="thumbnail"><img src="http://placehold.it/35x35" alt="Image" style="max-width:100%;"></a></div>
              </div><!--.row-->
            </div><!--.item-->

          </div><!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div><!--.Carousel-->
        <script>
        $(document).ready(function() {
          $('#Carousel').carousel({
            interval: 5000
          })
        });
        </script>
      </div>
    </div>
  </div>

  {% endblock %}
