{% block button %}
  <style>
    div.button{
      float:left;
      text-align:center;
      color:#666;
  }
  </style>
  {% set thumbsUp=false %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% for like in tale.0.likes %}
      {% if like.user.id == app.user.id and thumbsUp == false %}
        {% set thumbsUp=true %}
        <div class="button">
          <button id="like" class="btn btn-default btn-circle btn-lg hvr-pulse clicked">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
          <br>
          <p id="textButtonLike"></p>
        </div>

      {% endif %}
    {% endfor%}
    {% if thumbsUp == false %}
        <div class="button">
          <button id="like" class="btn btn-default btn-circle btn-lg hvr-pulse "><span class="glyphicon glyphicon-thumbs-up"></span></button>
          <br>
          <p id="textButtonLike"></p>
        </div>
    {% endif %}

  {% endif %}
  <script>
    $(document).ready(function () {
      setListener();
      {% if (thumbsUp) %}
        printLikes(true, parseInt($('#taleLikes').text()))
      {% else %}
        printLikes(false, parseInt($('#taleLikes').text()))
      {% endif %}

    });

    /**
    * @description
    * This function shows the number of likes
    *
    *
    * @param {Boolean} userLike Flag which shows if the user pressed like
    * @param {Number} taleLikes The number of likes
    */
    function printLikes(userLike, taleLikes){
      if(userLike){
        if(taleLikes > 2){
          setMultipleButtonParagraphValues("textButtonLike", "Piace a te e a " + (taleLikes-1) + " persone");
        }else if(taleLikes == 2){
          setMultipleButtonParagraphValues("textButtonLike", "Piace a te e a " + (taleLikes-1) + " persona");
        }else{
          setMultipleButtonParagraphValues("textButtonLike", "Piace a te");
        }
      }else{
        if(taleLikes > 1){
          setMultipleButtonParagraphValues("textButtonLike", "Piace a " + taleLikes +" persone");
        }else if(taleLikes == 1){
          setMultipleButtonParagraphValues("textButtonLike", "Piace a " + taleLikes +" persona");
        }else{
          setMultipleButtonParagraphValues("textButtonLike", "");
        }
      }
    }

    function setMultipleButtonParagraphValues(id, value){
      var length = $("body *").filter(function() {
      	return (this.id == id);
      }).length;

      for(i=0; i<length; i++){
        $("body *").filter(function() {
        	return (this.id == id);
        })[i].innerHTML = value;
      }
    }

    function setListener(){
      var length = $("body *").filter(function() {
      	return (this.id == "like");
      }).length;

      for(i=0; i<length; i++){
        var button = $("body *").filter(function() {
        	return (this.id == "like");
        })[i];

        addListener(button, "click", handler);
      }
    }

    function addListener(element, eventName, handler) {
      if (element.addEventListener) {
        element.addEventListener(eventName, handler, false);
      }
      else if (element.attachEvent) {
        element.attachEvent('on' + eventName, handler);
      }
      else {
        element['on' + eventName] = handler;
      }
    }

    function removeListener(element, eventName, handler) {
      if (element.addEventListener) {
        element.removeEventListener(eventName, handler, false);
      }
      else if (element.detachEvent) {
        element.detachEvent('on' + eventName, handler);
      }
      else {
        element['on' + eventName] = null;
      }
    }

    function handler(){
        $.ajax('{{ path('addLike') }}', {
              type: "POST",
              data: {
                  taleId: {{ tale[0].id }}
              },
              success: function(data) {
                  $('#like').toggleClass('clicked');
                  //0 = like eliminato
                  //1 = like aggiunto
                  if(data.message == '1'){
                    var likes = parseInt($('#taleLikes').text());
                    $('#taleLikes').html(likes+1);
                    printLikes(true, parseInt($('#taleLikes').text()))
                    changeToClicked();
                  } else if(data.message == '0'){
                    var likes = parseInt($('#taleLikes').text());
                    $('#taleLikes').html(likes-1);
                    printLikes(false, parseInt($('#taleLikes').text()))
                    changeToUnclicked();
                  }
              },
              error: function() {
                  console.log("non funge"); // show alert or something
              }
        });
        return false; // this stops normal button behaviour from executing;
    };


    function changeToClicked(){
      var length = $("body *").filter(function() {
      	return (this.id == "like");
      }).length;

      for(i=0; i<length; i++){
        var button = $("body *").filter(function() {
        	return (this.id == "like");
        })[i];

        addClass(button, "clicked");
      }
    }

    function changeToUnclicked(){
      var length = $("body *").filter(function() {
      	return (this.id == "like");
      }).length;

      for(i=0; i<length; i++){
        var button = $("body *").filter(function() {
        	return (this.id == "like");
        })[i];

        removeClass(button, "clicked");
      }
    }

    function removeClass(element, cssClass){
      var classes = element.className;
      var res = classes.replace(cssClass, "");

      element.className = res;
    }

    function addClass(element, cssClass){
      element.className = element.className + " " + cssClass ;
    }

    $("#like").hover(function(){
        $(this).blur();
    });

  </script>
{% endblock %}
